@{
    ViewData["Title"] = "Error404";
}
<br />
<br />
<style>
    .image-container {
        text-align: center;
    }
</style>
<div class="image-container">
    <img src="~/imagenes/nofound.png" alt="Not Authorized" height="300" width="300" />
</div>


<h2 class=" text-center">Error, página no encontrada</h2>
