@model ProyectoEcommerce.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IniciarSesion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <div class="container mt-5 pt-5">

        <div class="row justify-content-center">
            <div class="col-12 col-xl-4 col-md-6">

                <div class="card">
                    <div class="card-header">
                        Iniciar Sesion
                    </div>
                    <div class="card-body">

                        <form asp-controller="Login" asp-action="Login" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>                            
                            <div class="form-group">                                
                                <input asp-for="Correo" class="form-control" placeholder="Correo"/>
                                <span asp-validation-for="Correo" class="text-danger"></span>
                            </div>
                            <div class="form-group"> 
                                <label></label>
                                <input asp-for="Password" type="password" class="form-control" placeholder="Contraseña" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group mt-2">
                                <div class="form-check">
                                    <input asp-for="Recuerdame" type="checkbox" class="form-check-input" />
                                    <label asp-for="Recuerdame" class="form-check-label"></label>
                                    <label></label>
                                </div>
                                <span asp-validation-for="Recuerdame" class="text-warning"></span>
                            </div>
                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="submit">Iniciar Sesion</button>
                            </div>
                            @if (ViewData["Mensaje"] != null)
                            {

                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                </div>
                            }
                            ¿No tienes una cuenta? <a href="@Url.Action("Registro","Login")"> Registrate!</a>
                        </form>


                    </div>

                </div>

            </div>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
