@{
    ViewData["Title"] = "NotAuthorized";
}

<style>
    .image-container{
        text-align:center;
    }
</style>
<br />
<br />
<div class="image-container">
    <img src="/imagenes/NotAutorized.png" alt="Not Found" height="300" width="300" />
</div>
<h2 class=" text-center">No estas autorizado para ejecutar esta acción!</h2>

